body {
    background-color: #fef7f5;
}

/* .container {

} */

header {
    background-color: #f3f3f3;
    width: 100%;
    height: 100px;
    padding-top: 37px;
    margin-bottom: 50px
}

.heading {
    text-align: center;

}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px 0px 15px;
}

input[type=text] {
    height: 60px;
    width: 458px;
    margin-bottom: 0;
    border: 1px solid black;
}

input[type=button] {
    font-size: 20px;
    width: 70px;
    padding: 0;
}

input[type=button].twoWide {
    width: 190px;
    padding: 0;
}

input[type=button].twoHigh {
    height: 135px;
}